@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300; 400; 500; 600; 700; 800; 900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #6e67f5;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: Orgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #16181f;
  --color-bg1: #383a57;
  --color-bg2: #191b3b;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-bg);
}
ul,
li,
a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-decoration: none;
  color: var(--color-white);
}
/* ul {
  list-style: none;
} */
#hero {
  width: 100%;
  height: 1024px;
  background: linear-gradient(180deg, #000000 0%, #010516 100%);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15%;
}
.hero-text {
  text-align: center;
  margin: 50px auto;
  width: 40%;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 1.2;

  background: linear-gradient(
    91.06deg,
    #00f0ff 2.26%,
    #b25cfa 21.6%,
    #ff1cf7 63.35%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  font-size: 2.5rem;
}
.logo-img {
  width: 102px;
  height: 100px;
  left: 133px;
  top: 45px;
}

li {
  display: inline-block;
  padding: 0px 20px;
}
li a:hover {
  color: var(--color-primary);
}
.intro-text {
  padding: 20px 0;
}
.cta {
  padding: 22px 32px;
  border-radius: 7px;
  cursor: pointer;
  color: var(--color-black);
}
.cta1 {
  background: var(--color-bg2);
  color: var(--color-white);
}
.cta:hover {
  border: 2px solid #fff;
}
.fa-brands {
  padding-left: 5px;
  cursor: pointer;
}
.fa-brands:hover {
  color: var(--color-primary);
}

/* Footer Section */

#footer {
  width: 100%;
  background: var(--color-bg2);

  text-align: center;
}
footer {
  padding: 60px 15%;
}
#footer p {
  margin-bottom: 20px;
}
hr {
  margin: 10px 0;
}
.copyright {
  margin-top: 20px;
}
/* Footer-section-end  */

/* Media Queries  */
@media only screen and (max-width: 992px) {
  .team-container {
    flex-direction: column;
  }
  .profiles {
    margin: 30px 80px;
    width: auto;
  }
}
/* Media for smaller device */
@media only screen and (max-width: 768px) {
  header {
    padding: 15px 10%;
  }
  .hero-text {
    width: 100%;
  }
  h1 {
    font-size: 3.5rem;
  }
  li {
    display: block;
  }
  #about {
    width: 100%;
    height: auto;
  }
  .about-text {
    margin: auto;
    text-align: justify;
  }
  .team-container {
    flex-direction: column;
  }

  .profiles {
    margin: 30px 80px;
  }
  /* .footer-top {
    flex-direction: column;
  } */
}
